{{#hidden = None if auth.user else 'hidden'}}

{{if auth.user and is_user_member('admin'):}}

<ul class="sidebar-menu">

    <li class="header">Dogs &amp; Owners</li>

    <li class="treeview">
        {{=sidebar_menu_item('Dogs', icon='suitcase')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Dogs', URL('dog', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Dog', URL('dog', 'create'), icon='pencil-square-o')}}
        </ul>
    </li>

    <li class="treeview">
        {{=sidebar_menu_item('Owners', icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Owners', URL('person', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Owner', URL('person', 'create'), icon='pencil-square-o')}}
        </ul>
    </li>

    <li class="treeview">
        {{=sidebar_menu_item('Dog Owners', icon='university')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('View Dog Owners', URL('dog_owner', 'list'), icon='list')}}
        {{=sidebar_menu_item('Create Dog Owner', URL('dog_owner', 'create'), icon='pencil-square-o')}}
        </ul>
    </li>

    <li class="treeview">
        {{=sidebar_menu_item('Admin', icon='gears')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('Manage Content', URL('content','list'), icon='file-text-o')}}
          {{=sidebar_menu_item('Manage Users', URL('appadmin','manage/users'), icon='users')}}
        </ul>
    </li>

    <li class="treeview {{=user_visibility('Admin')}}">
        {{=sidebar_menu_item('Super Admin', icon='gears')}}
        <ul class="treeview-menu">
        {{=sidebar_menu_item('Manage Auth', URL('appadmin','manage/auth'), icon='wrench')}}
          {{=sidebar_menu_item('Manage Database', URL('appadmin','manage/db'), icon='database')}}
          {{=sidebar_menu_item('Super Admin!', URL('appadmin','#'), icon='cog')}}
        </ul>
    </li>

</ul>

{{pass}}

<!-- Company Info for Guests -->

<ul class="sidebar-menu">

    <li class="header">COMPANY</li>

    {{=sidebar_menu_item('About', URL('default', 'about'), icon='book')}}
    {{=sidebar_menu_item('Privacy', URL('default', 'privacy'), icon='book')}}
    {{=sidebar_menu_item('Terms of Use', URL('default', 'tou'), icon='book')}}

</ul>
