{{response.files.append(URL('static', 'plugins/jquery.chained.js'))}}

{{extend 'layout.html'}}

<h4>
  <a href='{{=URL(request.controller, 'list', user_signature=True)}}'>
    <i class="fa fa-list"> View {{=item_name}} List</i>
  </a>
</h4>

<div class="row">

  <!-- Messages -->
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Create {{=item_name}}</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">

        {{=form}}

      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col --><!-- /Documents -->

</div><!-- /.row -->

<script type="text/javascript">
  $(document).ready(function() {

    $('#service_request_request_priority option').each(function() {
      if (this.innerHTML.indexOf("*") != -1) {
          var catclass = this.innerHTML.split("*",2);
          $(this).addClass(catclass[0]);
          this.text = catclass[1];
      }
    })

    $("#service_request_request_priority").chained("#service_request_request_type");

    $('#service_request_request_subcategory option').each(function() {
      if (this.innerHTML.indexOf("*") != -1) {
          var catclass = this.innerHTML.split("*",2);
          $(this).addClass(catclass[0]);
          this.text = catclass[1];
      }
    })

    $("#service_request_request_subcategory").chained("#service_request_request_category");

  } );
</script>
