{{response.files.append("https://cdn.datatables.net/t/bs/pdfmake-0.1.18,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,kt-2.1.1,r-2.0.2,rr-1.1.1,sc-1.4.1,se-1.1.2/datatables.min.css")}}
{{response.files.append("https://cdn.datatables.net/t/bs/pdfmake-0.1.18,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,kt-2.1.1,r-2.0.2,rr-1.1.1,sc-1.4.1,se-1.1.2/datatables.min.js")}}

{{extend 'layout.html'}}

<style>
  tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    font-size: 70%;
  }
  tfoot {
    display: table-header-group;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {

    // add a text input to each footer cell for column search
    $('#{{=item_name.replace(' ','-')}}-datatable tfoot th').each( function () {
        var title = $('#{{=item_name.replace(' ','-')}}-datatable thead th').eq( $(this).index() ).text();
        if (title != '') {
          $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        }
    } );

    // DataTable
    var table = $('#{{=item_name.replace(' ','-')}}-datatable').DataTable( {
      // stateSave: true,
      responsive: true,
      columns: [
        {{for field in field_list:}}
          null,
        {{pass}}
        {"orderable": false, "orderable": false}
      ]
    } );

    // apply the column search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
                .search( this.value )
                .draw();
        } );
    } );

  } );
</script>

{{if announcement:}}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{=announcement}}
  </div>
{{pass}}

<h4>
    <a href='{{=URL(request.controller, 'create')}}'>
      <i class="fa fa-pencil"> Create New {{=item_name}}</i>
    </a>
</h4>

<p>
You can
view <i class="fa fa-search"></i> more information.
If you're authorized, you can also edit <i class="fa fa-pencil"></i> the {{=item_name}}.
</p>

<div class="row">

  <!-- Messages -->
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">{{=item_name}} List</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">

<table id="{{=item_name.replace(' ','-')}}-datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      {{for field in field_list:}}
        <th>{{=field.label}}</th>
      {{pass}}
      <th class="all"></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      {{for field in field_list:}}
        <th>{{=field.label}}</th>
      {{pass}}
      <th></th>
    </tr>
  </tfoot>
  <tbody>
    {{for row in row_list:}}
      <tr>
        {{for field in field_list:}}
          <td>{{=row[field]}}</td>
        {{pass}}
        <td>

          {{for action in actions:}}
            {{if action['is_item_action'](row):}}
              <a href='{{=action['url'](row)}}'><i class="fa fa-{{=action['icon']}}"></i>&nbsp;</a>
            {{pass}}
          {{pass}}

        </td>
      </tr>
    {{pass}}
  </tbody>
</table>

      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col --><!-- /Documents -->

</div><!-- /.row -->
