{{extend 'layout.html'}}

<h4>
  <a href='{{=URL(request.controller, 'list', user_signature=True)}}'>
    <i class="fa fa-list"> View {{=item_name}} List</i>
  </a>
  {{if auth.user:}}
    &nbsp;
    <a href='{{=URL(request.controller, 'edit', args=(item.id))}}'>
      <i class="fa fa-pencil"> Edit</i>
    </a>
  {{pass}}
</h4>

<div class="row">

  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">{{=item_name}}</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">

        {{=form}}

      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

</div><!-- /.row -->
