<!DOCTYPE html>

<!-- test file to test and play with selectize http://selectize.github.io/selectize.js/ -->
<!--
other options:
http://www.tutorialrepublic.com/faq/populate-state-dropdown-based-on-selection-in-country-dropdown-using-jquery.php
http://www.appelsiini.net/projects/chained << used for wwi

http://www.web2pyslices.com/slice/show/1410/cascading-drop-down-lists
- doesn't store all values in table, i.e., fully denormalized
https://groups.google.com/d/msg/web2py/z_lGYsO6LKE/mDNm3DQ4DVUJ << Leonel
- doesn't store all values in table, i.e., fully denormalized
http://www.web2pyslices.com/slice/show/1724/cascading-dropdowns-simplified
https://remysharp.com/2007/01/20/auto-populating-select-boxes-using-jquery-ajax
- http://download.remysharp.com/select-chain.js
 -->

<html>
<head>
    <meta charset="utf-8">
    <title>My page</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/mcg/static/images/favicon.png">
    <!-- CSS dependencies -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>
<body>

    <p>Content here. <a class="alert" href=#>Alert!</a></p>

    <!-- JS dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- selectize code -->
    <script type="text/javascript"  src="/mcg/static/plugins/selectize.js"></script>
    <link rel="stylesheet" type="text/css" href="selectize.css" />
    <script>
    $(function() {
        $('select').selectize(options);
    });
    </script>
</body>
</html>
